<div class="nav">
    <h3 class="nav-title"><a href="{{ site.baseurl }}">HOME</a></h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <!-- 
        To do list : 
        내가 이거 반드시 수정한다. 

        햐 이 족같은 ㅡㅡ 아니 포스트에다가 tag 를 달아놓았으면 그거에 맞춰서 
        자동으로 생성되게 해놔야지 하드코딩하고있어 ㅡㅡ 하.... jasper 너 마음에 안들라고 한다?
    -->
    <ul>
        <h4 class="page-title">프롤로그</h4>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" 
            role="presentation">
            <a href="{{ site.baseurl }}about">
                블로그소개
            </a>
        </li>
        <li class="nav-author {% if page.current == 'me' %} nav-current{% endif %}" 
            role="presentation">
            <a href="{{ site.baseurl }}me">
                자기소개
            </a>
        </li>
        <li class="nav-author {% if page.current == 'project' %} nav-current{% endif %}" 
            role="presentation">
            <!-- <a href="{{ site.baseurl }}project"> -->
            <a href="{{ site.github_url  }}" >
                프로젝트
            </a>
        </li>
    </ul>



    <ul style="padding-top:0px;">
        <h4 class="page-title"> 포스팅 </h4>
        <li class="nav-fables {% if page.url contains 'tag/hadoop' %} nav-current{% endif %}" 
            role="presentation">
            <a href="{{ site.baseurl }}tag/hadoop">
                Hadoop
            </a>
        </li>
        <li class="nav-fables {% if page.url contains 'tag/docker' %} nav-current{% endif %}" 
            role="presentation">
            <a href="{{ site.baseurl }}tag/docker">
                Docker
            </a>
        </li>
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
